@import "tailwindcss";

/* Light Mode */
:root {
  --bg: #f9f9f9;
  --text: #1a1a1a;
  --card: #ffffff;
  --border: #e5e5e5;
  --gray: #F5F5F5;
  --bordergray: #e5e5e5;
}

/* Dark Mode */
.dark {
  --bg: #141414;
  --card: #202020;
  --border: #2A2A2A;
  --text: #ffffff;
  --bordergray: #333333;

}

